* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url('background.png');
    background-size: cover;
}

@media screen and (max-width: 2000px) and (max-height: 0px) {
    body {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

#mainView {
    position: absolute;
    height: 100%;
    width: 600px;
    left: calc(50vw - 300px);
    background-color: black;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #fff6;
    border-right: 1px solid #fff6;
}

#defaultForms {
    position: relative;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 175px);
    min-height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff6;
    border-radius: 5px;
}

#defaultForms input{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

#defaultForms label {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 1px;
}

.formsBtn {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 3px;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: rgba(22, 202, 103, 0.4);
    border: 1px solid #000;
    border-radius: 2.5px;
    cursor: pointer;
}

.formsBtn:hover {
    background-color: rgba(28, 176, 95, 0.4);
}

#defaultForms a {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}

#defaultForms a:hover {
    text-decoration: underline;
    color: #242424;
}

#mainViewForm {
    position: absolute;
    height: 100%;
    width: 600px;
    left: calc(50vw - 300px);
}

#nav {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #d3d3d3;
    border-bottom: 1px solid #000;
}

#landscape {
    position: relative;
    width: 100%;
    height: 550px;
    background-color: #d3d3d3;
    /* border-bottom: 1px solid #000; */
}

#control {
    position: relative;
    width: 100%;
    height: calc(100vh - 650px);
    background-color: #d3d3d3;
}

.landscapeImg {
    position: relative;
    width: 512px;
    height: 512px;
    left: calc(50% - 256px);
    top: calc(50% - 256px);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.error_msg {
    margin: 10px;
    color: #f00;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
}

.health-bar {
    position: relative;
    width: 80%;
    left: 10%;
    height: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #000;
    position: relative;
}

.health-fill {
    height: 100%;
    background-color: red;
    width: 100%; /* Initial width is 100% */
    transition: width 0.3s ease-in-out; /* Add smooth transition effect */
    border-radius: 10px;
}

#actions {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

#actions button {
    width: 100px; 
    height: 50px;
    border: 1px solid #000;
    background-color: #a5a5a5;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
}

#actions button:hover {
    background-color: #888888;
    font-size: 22px;
}

.stamina-bar {
    position: relative;
    width: 80%;
    left: 10%;
    height: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #000;
    position: relative;
}

.stamina-fill {
    height: 100%;
    background-color: rgb(0, 217, 255);
    width: 100%; /* Initial width is 100% */
    transition: width 0.3s ease-in-out; /* Add smooth transition effect */
    border-radius: 10px;
}

#health {
    margin-top: 20px;
    margin-bottom: 20px;
}

#stamina {
    margin-top: 20px;
    margin-bottom: 10px;
}

#travel {
    display: flex;
    flex-direction: column;
}

.directions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.directions button {
    width: 150px; 
    height: 60px;
    border: 1px solid #000;
    background-color: #a5a5a5;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
    margin: 20px;
}

.directions button:hover {
    background-color: #888888;
    font-size: 22px;
}

