.spacer {
    height: 200px;
    width: 100%;
}

.input {
    width: 20%;
    height: 40px;
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

button {
    width: 20%;
    height: 50px;
    margin: 0 auto; 
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
    background-color: #56d467;
    cursor: pointer;
}

.submitter:hover {
    background-color: #42b652;
    text-decoration: underline;
}

.errorMsg {
    font-size: 20px;
    color: #f00;
    letter-spacing: 1px;
}
